.main-header {
  padding-top: 0;
  background-color: #623662;
  height: 150px;
  border-bottom: lightblue solid 3px;
}

.main-nav {
  background: #623662;
  padding: 10px;
  margin: auto;
  text-align: center;
}

.header-title {
  width: 70%;
  float: left;
  margin-top: 20px;
  font-size: 20px;
}

.header-nav {
  width: 30%;
  float: right;
  display: flex;
  background-color: #623662;
  margin-top: 30px;
}



ul li {
  padding: 5px;
  display: inline;
  margin: 0;
}
ul li a:hover {
  color: white
}

/*Main Section Div*/
.main-section-div {
  height: 75px;
  background: #623662;
  opacity: 0.9;
}

.logout {
  float: right;
  width: 5%;
  padding-top: 45px;
}

.logout button {
  border: none;
  padding: 3px;
}

.section-nav {
  float: left;
  width: 95%;
  padding-top: 30px;
  display: inline-block;
}

.nav-main-list {
  padding-bottom: 10px;
}

.nav-main-list li {
  padding: 5px;
}

.current {
  background: darkgrey;
}


/*------[ base css ]------*/
body {
	margin: 0;
	padding: 0;
}

body {
	background-color: #fff;
	font-family: monospace;
	color: black;
    font-size: 1.1em;
}

a {
	color: #2980b9;
	text-decoration: none;
}
a:active, a:focus {
	color: #3498db;
	text-decoration: none;
	outline: 0;
}
a:visited {
	color: #2980b9;
	text-decoration: none;
}
a:hover {
	color: #3498db;
	text-decoration: underline;
}

h1 {
	position: relative;
	margin: 0 0 5px;
	padding: 8px 40px 8px 10px;
	background:#623662;
	color: #d7d7d7;
	font-size: 1.5em;
	line-height: 1.5em;
}
h1 a {
	color: #fff;
	border-bottom: 1px dotted #fff;
	line-height: inherit;
	border: none;
	text-decoration: none;
	opacity: 0.85;
}
h1 a:hover {
	border-bottom: 0;
}
h1 a:hover, h1 a:focus, h1 a:visited {
	color: #fff;
	line-height: inherit !important;
	opacity: 1;
}

p {
	margin: 0 0 1em 0;
}


input, textarea, select {
	font-size: 0.875em;
}

/*Aside Section*/

.aside-section {
  width: 25%;
  float: right;
}

@media (max-width: 979px) {
	.qam-search {
		display: none;
	}
}

.qa-search {
	padding:0px 0px 8px;
	margin-bottom:5px;
}
input[type="text"].qa-search-field{
    height: 32px !important;
}
.qa-search-field {
    margin-top: 5px;
	padding: 0 40px 0 5px;
	border-width: 2px;
	border-style: solid;
}

.qa-search-button {
	width: 62px;
	height: 22px;
	margin: 0; 
	background: #623662 url('images/search-icon-white.png');
	border: 1px solid;
}

.discuss ul{
  display: block;
  padding-left: 0;
}

.qa-feed {
	font-size: 13px;
	padding:10px 20px;
	margin-bottom: 5px;
	border:1px solid #e6e6e6;
}

.qa-feed-link {
	line-height: 32px;
}
.qa-feed-link:before {
	font-family: "fontello";
	font-size: 15px;
	content: '\e81d';
	display: inline;
	float: left;
    margin: 0 auto;
  
}


/*------[ qa content parts ]------*/

.qa-main, .qa-main-wrapper {
	overflow: hidden;
  *zoom: 1;
}

.qa-main {
  width: 70%;
  float: left;
}

.qa-body-wrapper {
	margin: 40px auto;
	padding: 0 10px;
	overflow: hidden;
	
}

@media (min-width: 980px) {
	.qa-main {
		width: 72%;
		float: left;
		border: 1px solid #ececec;
	}
.qa-main-wrapper {
		width: 100%;
      
	}
}
@media (min-width: 1044px) {
	.qa-body-wrapper {
		width: 1200px;
	}
}

/*------[ q-list ]------*/
.qa-q-list-item {
	border-bottom: 1px solid #e4e4e4;
    margin-bottom: 40px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 30px 0;
}

.qa-q-item-stats {
	float: left;
}
@media (max-width: 240px) {
	.qa-q-item-stats {
		float: none;
		display: none;
	}
}

.qa-a-count {
	background-color: #623662;
	color: #fff;
	text-align: center;
}

/* useful*/
@media (min-width: 800px) {
	.qa-a-count {
		width: 65px;
		height: 60px;
		line-height: 0.5;
		float: left;
	}
}

.qa-a-count-data {
	font-size: 20%px;
	line-height: 40px;
	display: block;
	white-space: nowrap;
}

.qa-a-count-pad {
	font-size: 14px;
}

/*Useful for width of different devices*/
.qa-q-item-main {
	float: left;
	padding-left: 10px;
}
@media (max-width: 240px) {
	.qa-q-item-main {
		width: 100%;
		float: none;
		padding-left: 0;
	}
}
@media (min-width: 320px) {
	.qa-q-item-main {
		width: 210px;
	}
}
@media (min-width: 360px) {
	.qa-q-item-main {
		width: 250px;
	}
}
@media (min-width: 480px) {
	.qa-q-item-main {
		width: 364px;
	}
}
@media (min-width: 568px) {
	.qa-q-item-main {
		width: 452px;
	}
}
@media (min-width: 600px) {
	.qa-q-item-main {
		width: 484px;
	}
}
@media (min-width: 768px) {
	.qa-q-item-main {
		width: 652px;
	}
}
@media (min-width: 800px) {
	.qa-q-item-main {
		width: 611px;
	}
}
@media (min-width: 980px) {
	.qa-q-item-main {
		width: 550px;
	}
}
@media (min-width: 1044px) {
	.qa-q-item-main {
		width: 592px;
	}
}

.qa-q-item-title {
	font-weight: bold;
	font-size: 1.125em;
	line-height: 1.46667em;
	display: block;
    height: 30px;
}
.qa-q-item-title a ,.qa-q-item-title a:visited {
	color: #454545;
	font-size:18px;
}
.qa-q-item-title a:hover, .qa-q-item-title a:active, .qa-q-item-title a:focus, .qa-q-item-title a:visited {
	color: #623662;
}
.qa-q-item-title:hover {
	cursor: help;
}

.qa-q-item-avatar-meta {
	display: block;
	margin-top: 2px;
}

.qa-q-item-avatar {
	margin: 0 2px 0 0;
}
@media (max-width: 479px) {
	.qa-q-item-avatar {
		display: none;
	}
}
@media (min-width: 480px) {
	.qa-q-item-avatar {
		display: inline-block;
		vertical-align: middle;
		line-height: 1;
	}
}

.qa-q-item-meta {
	display: inline-block;
	vertical-align: middle;
	font-size: 12px;
	line-height: 10px;
}

.qa-q-item-when-data {
	font-weight: 700;
}
/*------[ sidebar ]------*/

@media (min-width: 980px) {
	.qa-sidepanel {
		width: 25%;
		padding: 0px;
		float: right;
		overflow: hidden;
		*zoom: 1;
	}
}

@media (max-width: 979px) {
	#qam-sidepanel-toggle {
		display: block;
		position: fixed;
		bottom: 10px;
		right: 0;
		text-align: center;
		font-size: 24px;
		background: #9b59b6;
		cursor: pointer;
		transition: all 0.15s ease;
		color: #95a5a6;
		opacity: 0.5;
		z-index: 999;
	}
	#qam-sidepanel-toggle.active {
		opacity: 1;
		color: #34495e;
		right: 280px;
		box-shadow: -5px 0 15px 0 rgba(0, 0, 0, 0.5);
	}
	
	.qa-sidepanel {
		width: 280px;
		height: 100%;
		position: fixed;
		right: -280px;
		top: 0;
		overflow-y: auto;
		z-index: 99999;
		background: #fff;
		transition: all 0.15s ease;
		box-shadow: 0 0 0 0 transparent;
	}

}

/* custom */

.footer-ul {
  list-style: none;
  display: block;
  font-family: monospace;
  font-size: 20px;
}

.images {
  width: 20px;
  height: 20px; 
  border-radius: 20%;
}

