/* Global Layout Set-up */
* { 
  box-sizing: border-box;
}

/* Link Styles */

h1 {
  color: grey
}

a {
  text-decoration: none;
  color: #0499ff;
}
a:hover {
  color: #6633ff;
}

form {
  float: none;
  padding-left: 400px;
  margin-left: 400px;
  width: 60%;
}

form h3 {
  text-align: center;
}

form button {
  display: inline-block;
  padding: 10px;
  border: solid 2px grey;
  border-radius: 6%;
  float: left;
  width: 15%;
  height: 15%;
  margin-top: 20px;
  margin-left: 0;
}

input[type="email"], input[type="number"], input[type="search"], input[type="text"], select, input[type="tel"], input[type="url"], input[type="password"] {
  background: #fff;
  width: 100%;
  color: #666;
  border-radius: 8px;
  border: 1px solid #c4d8d7;
  padding: 15px;
  margin-bottom: 15px;
  outline: none;
  box-sizing: border-box;
  font-size: 1.6rem;
  font-family: monospace;
}

.adjust {
  float: left;
}



.card {
  margin: 0;
  padding: 10px 10px 10px;
  min-width: inherit;
  text-align: left;
  background: #fff;
  border-bottom: 4px solid #ccc;
}


/* Styles for larger screens */
@media screen and (min-width: 720px) {
  
  .flex {
      display: inline-block;
      min-width: 600px;
      justify-content: space-around;
      margin: 0 auto;
  }

}

