/* Global Layout Set-up */
* { 
  box-sizing: border-box;
}

/* Link Styles */

h1 {
  color: grey
}

a {
  text-decoration: none;
  color: #0499ff;
}
a:hover {
  color: #6633ff;
}

form {
  float: none;
  padding-left: 10px;
  margin-left: 10px;
  width: 60%;
}

form h3 {
  text-align: justify;
}

form button {
  display: inline-block;
  padding: 0 10px 0 10px;
  border: solid 2px grey;
  border-radius: 4%;
  float: left;
  width: 10%;
  height: 25px;
  margin-top: 20px;
 
}

input[type="email"], input[type="number"], input[type="search"], input[type="text"], select, input[type="tel"], input[type="url"], input[type="password"] {
  background: #fff;
  width: 60%;
  color: #666;
  border-radius: 3px;
  border: 1px solid #c4d8d7;
  padding: 15px;
  margin-bottom: 15px;
  outline: none;
  font-size: 1.6rem;
  font-family: monospace;
}

.adjust {
  float: left;
}


.card {
  margin-top:2%;
  margin-left: 20%;
  width: 70%;
  text-align: left;
  background: white;
  border: none;
  
}


.flex {
      display: inline-block;
      width: 100%;
      justify-content: space-around;
      margin: 0 auto;
}

@media(max-width: 768px) {
  .card,
  .flex {
    width: 80%;
    float: none;
    margin: 0;
    padding: 0 0 0 20px;
    display: inline-block;
   
  }
}

@media(max-width: 768px) {
  .button1 {
    width: 25%;
    height: 25px;
    padding: 0;
    margin: 0;
    display: inline-block;
  }
}

aside.card .flex textarea {
  width: 60%;
  height: 145px;
  padding: 5px;
  border: 1px solid #c4d8d7;
  border-radius: 2%;
}

.cardDiv {
  padding: 15px;
  margin-top: 10px;
  margin-bottom: 10px;           
}


